@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --cl-lime-green: hsl(163, 72%, 41%);
  --cl-bright-red: hsl(356, 69%, 56%);
  --cl-facebook: hsl(208, 92%, 53%);
  --cl-instagram-gradient1: hsl(37, 97%, 70%);
  --cl-instagram-gradient2: hsl(329, 70%, 58%);
  --cl-youtube: hsl(348, 97%, 39%);
  --cl-dark-theme-toggle-gradient1: hsl(210, 78%, 56%);
  --cl-dark-theme-toggle-gradient2: hsl(146, 68%, 55%);
  --cl-light-theme-toggle: hsl(230, 22%, 74%);
  --cl-white: hsl(0, 0%, 100%);
  --cl-light-card-bg: hsl(227, 47%, 96%);
  --cl-light-card-text: hsl(230, 17%, 14%);
  --cl-dark-theme-bg: hsl(230, 17%, 14%);
  --cl-dark-card-bg: hsl(228, 28%, 20%);
  --cl-dark-card-text: hsl(228, 34%, 66%);
  --padding-s: 1rem;
  --foreground: var(--cl-dark-card-text);
  --background: var(--cl-dark-theme-bg);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

body {
  font-size: 87.5%;
  color: var(--cl-white);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background: var(--cl-dark-theme-bg);
}

.heading {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading span {
  color: var(--cl-dark-card-text);
}

.heading__left h1 {
  margin-bottom: 0.5rem;
}

.heading__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.heading__right .switch {
  width: 50px;
  height: 24px;
  position: relative;
  border-radius: 100px;
  background: -webkit-gradient(linear, right top, left top, from(var(--cl-dark-theme-toggle-gradient1)), to(var(--cl-dark-theme-toggle-gradient2)));
  background: linear-gradient(to left, var(--cl-dark-theme-toggle-gradient1), var(--cl-dark-theme-toggle-gradient2));
}

.heading__right .checkbox {
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  background: var(--cl-dark-theme-bg);
  border-radius: 50%;
}

.stats-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.stats-wrapper .stats {
  padding: 1.5rem;
  background-color: var(--cl-dark-card-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.stats-wrapper .stats .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.stats-wrapper .stats .social span {
  color: var(--cl-dark-card-text);
}

.stats-wrapper .stats .number {
  font-size: 3rem;
  padding-bottom: var(--padding-s);
}

.stats-wrapper .stats .followers {
  letter-spacing: 2px;
  opacity: 0.7;
  font-weight: 400;
  padding-bottom: var(--padding-s);
}

.stats-wrapper .stats .moves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  color: var(--cl-lime-green);
  padding: --padding-s 0;
}

.daily-overview {
  width: 100%;
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 150px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.daily-overview .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px;
  padding: 1.5rem;
}

.daily-overview .card .first-line,
.daily-overview .card .second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.daily-overview .card .first-line span {
  color: var(--cl-dark-card-text);
}

.daily-overview .card .second-line p {
  font-size: 2.3rem;
}

.daily-overview .card .second-line span {
  color: var(--cl-lime-green);
  position: relative;
}

.daily-overview .card .second-line span::before {
  content: url("../images/icon-up.svg");
  position: absolute;
  bottom: 0;
  left: -10px;
}

.mode {
  background-color: var(--cl-dark-card-bg);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.mode:hover {
  background-color: #3c4468;
}

.slider.active:before {
  background-color: var(--cl-light-theme-toggle);
}

body.night {
  background: var(--cl-white);
  color: black;
}

.mode.active1 {
  background-color: var(--cl-light-card-bg);
}

.mode.active1:hover {
  background-color: #d7d9e0;
}

.checkbox.active-mode {
  left: calc(46px - 16px);
  background-color: var(--cl-light-theme-toggle);
}

@media (max-width: 1100px) {
  .wrapper {
    height: 100%;
    padding: 2rem;
  }
  .stats-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .daily-overview {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .heading__left h1 {
    font-size: 1.5rem;
  }
  .heading__right {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stats-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .daily-overview {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */